# macOS ########################################################################

.DS_Store

# RUST #########################################################################

debug/
target/

Cargo.lock

**/*.rs.bk

*.pdb

# AOC ##########################################################################
input.txt
