# Advent of Code ###############################################################

sample.txt
input.txt

# macOS ########################################################################

.DS_Store

# RUST #########################################################################

debug/
target/

Cargo.lock

**/*.rs.bk

*.pdb
